#BtnCreatNewToDo
{
    position: relative;

    background-color: var(--Dark-Elements-Background-Color);

    width: 100%;
    aspect-ratio: 4.2/1;
    
    border: none;
    border-radius: 10px;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 4.2rem;
    color: rgb(211, 214, 214);

    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.726);
}
