@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Sanchez&display=swap');

*
{
  margin: 0;

  box-sizing: border-box;
}

:root
{
  --Dark-Body-Background-Color: hsl(249, 26%, 5%);
  --Dark-Elements-Background-Color: rgb(24, 24, 32);

  --Dark-Text-Color: rgb(230, 232, 240);
  --Dark-Text-Second-Color-Shade: rgb(192, 192, 196);

  --Dark-Ok-Color: rgb(29, 162, 214);
  --Dark-No-Color: rgb(172, 17, 12);
}

body {
  background-color: var(--Dark-Body-Background-Color);
}